pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.hll { background-color: #ffffcc }
.c { color: #AAA; font-style: italic } /* Comment */
.err { color: #F00; background-color: #FAA } /* Error */
.k { color: #00A } /* Keyword */
.ch { color: #AAA; font-style: italic } /* Comment.Hashbang */
.cm { color: #AAA; font-style: italic } /* Comment.Multiline */
.cp { color: #4C8317 } /* Comment.Preproc */
.cpf { color: #AAA; font-style: italic } /* Comment.PreprocFile */
.c1 { color: #AAA; font-style: italic } /* Comment.Single */
.cs { color: #00A; font-style: italic } /* Comment.Special */
.gd { color: #A00 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.ges { font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.gr { color: #A00 } /* Generic.Error */
.gh { color: #000080; font-weight: bold } /* Generic.Heading */
.gi { color: #0A0 } /* Generic.Inserted */
.go { color: #888 } /* Generic.Output */
.gp { color: #555 } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.gt { color: #A00 } /* Generic.Traceback */
.kc { color: #00A } /* Keyword.Constant */
.kd { color: #00A } /* Keyword.Declaration */
.kn { color: #00A } /* Keyword.Namespace */
.kp { color: #00A } /* Keyword.Pseudo */
.kr { color: #00A } /* Keyword.Reserved */
.kt { color: #0AA } /* Keyword.Type */
.m { color: #099 } /* Literal.Number */
.s { color: #A50 } /* Literal.String */
.na { color: #1E90FF } /* Name.Attribute */
.nb { color: #0AA } /* Name.Builtin */
.nc { color: #0A0; text-decoration: underline } /* Name.Class */
.no { color: #A00 } /* Name.Constant */
.nd { color: #888 } /* Name.Decorator */
.ni { color: #800; font-weight: bold } /* Name.Entity */
.nf { color: #0A0 } /* Name.Function */
.nn { color: #0AA; text-decoration: underline } /* Name.Namespace */
.nt { color: #1E90FF; font-weight: bold } /* Name.Tag */
.nv { color: #A00 } /* Name.Variable */
.ow { color: #00A } /* Operator.Word */
.w { color: #BBB } /* Text.Whitespace */
.mb { color: #099 } /* Literal.Number.Bin */
.mf { color: #099 } /* Literal.Number.Float */
.mh { color: #099 } /* Literal.Number.Hex */
.mi { color: #099 } /* Literal.Number.Integer */
.mo { color: #099 } /* Literal.Number.Oct */
.sa { color: #A50 } /* Literal.String.Affix */
.sb { color: #A50 } /* Literal.String.Backtick */
.sc { color: #A50 } /* Literal.String.Char */
.dl { color: #A50 } /* Literal.String.Delimiter */
.sd { color: #A50 } /* Literal.String.Doc */
.s2 { color: #A50 } /* Literal.String.Double */
.se { color: #A50 } /* Literal.String.Escape */
.sh { color: #A50 } /* Literal.String.Heredoc */
.si { color: #A50 } /* Literal.String.Interpol */
.sx { color: #A50 } /* Literal.String.Other */
.sr { color: #099 } /* Literal.String.Regex */
.s1 { color: #A50 } /* Literal.String.Single */
.ss { color: #00A } /* Literal.String.Symbol */
.bp { color: #0AA } /* Name.Builtin.Pseudo */
.fm { color: #0A0 } /* Name.Function.Magic */
.vc { color: #A00 } /* Name.Variable.Class */
.vg { color: #A00 } /* Name.Variable.Global */
.vi { color: #A00 } /* Name.Variable.Instance */
.vm { color: #A00 } /* Name.Variable.Magic */
.il { color: #099 } /* Literal.Number.Integer.Long */
