pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.hll { background-color: #ffffcc }
.c { color: #959595; font-style: italic } /* Comment */
.err { border: 1px solid #898989 } /* Error */
.k { color: #575757; font-weight: bold } /* Keyword */
.o { color: #666 } /* Operator */
.ch { color: #959595; font-style: italic } /* Comment.Hashbang */
.cm { color: #959595; font-style: italic } /* Comment.Multiline */
.cp { color: #575757 } /* Comment.Preproc */
.cpf { color: #959595; font-style: italic } /* Comment.PreprocFile */
.c1 { color: #959595; font-style: italic } /* Comment.Single */
.cs { color: #959595; background-color: #F4F4F4 } /* Comment.Special */
.gd { color: #545454 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.ges { font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.gr { color: #898989 } /* Generic.Error */
.gh { color: #373737; font-weight: bold } /* Generic.Heading */
.gi { color: #7D7D7D } /* Generic.Inserted */
.go { color: #888 } /* Generic.Output */
.gp { color: #7E7E7E; font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #5A5A5A; font-weight: bold } /* Generic.Subheading */
.gt { color: #6D6D6D } /* Generic.Traceback */
.kc { color: #575757; font-weight: bold } /* Keyword.Constant */
.kd { color: #575757; font-weight: bold } /* Keyword.Declaration */
.kn { color: #575757; font-weight: bold } /* Keyword.Namespace */
.kp { color: #575757 } /* Keyword.Pseudo */
.kr { color: #575757; font-weight: bold } /* Keyword.Reserved */
.kt { color: #4F4F4F } /* Keyword.Type */
.m { color: #888 } /* Literal.Number */
.s { color: #717171 } /* Literal.String */
.na { color: #707070 } /* Name.Attribute */
.nb { color: #575757 } /* Name.Builtin */
.nc { color: #7E7E7E; font-weight: bold } /* Name.Class */
.no { color: #A5A5A5 } /* Name.Constant */
.nd { color: #555; font-weight: bold } /* Name.Decorator */
.ni { color: #848484; font-weight: bold } /* Name.Entity */
.ne { color: #575757 } /* Name.Exception */
.nf { color: #3F3F3F } /* Name.Function */
.nl { color: #363636; font-weight: bold } /* Name.Label */
.nn { color: #7E7E7E; font-weight: bold } /* Name.Namespace */
.nt { color: #3B3B3B; font-weight: bold } /* Name.Tag */
.nv { color: #9A9A9A } /* Name.Variable */
.ow { color: #575757; font-weight: bold } /* Operator.Word */
.w { color: #BBB } /* Text.Whitespace */
.mb { color: #888 } /* Literal.Number.Bin */
.mf { color: #888 } /* Literal.Number.Float */
.mh { color: #888 } /* Literal.Number.Hex */
.mi { color: #888 } /* Literal.Number.Integer */
.mo { color: #888 } /* Literal.Number.Oct */
.sa { color: #717171 } /* Literal.String.Affix */
.sb { color: #717171 } /* Literal.String.Backtick */
.sc { color: #717171 } /* Literal.String.Char */
.dl { color: #717171 } /* Literal.String.Delimiter */
.sd { color: #717171; font-style: italic } /* Literal.String.Doc */
.s2 { color: #717171 } /* Literal.String.Double */
.se { color: #717171; font-weight: bold } /* Literal.String.Escape */
.sh { color: #717171 } /* Literal.String.Heredoc */
.si { color: #9F9F9F; font-style: italic } /* Literal.String.Interpol */
.sx { color: #7E7E7E } /* Literal.String.Other */
.sr { color: #575757 } /* Literal.String.Regex */
.s1 { color: #717171 } /* Literal.String.Single */
.ss { color: #676767 } /* Literal.String.Symbol */
.bp { color: #575757 } /* Name.Builtin.Pseudo */
.fm { color: #3F3F3F } /* Name.Function.Magic */
.vc { color: #9A9A9A } /* Name.Variable.Class */
.vg { color: #9A9A9A } /* Name.Variable.Global */
.vi { color: #9A9A9A } /* Name.Variable.Instance */
.vm { color: #9A9A9A } /* Name.Variable.Magic */
.il { color: #888 } /* Literal.Number.Integer.Long */
