pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.hll { background-color: #ffffcc }
.c { color: #F00; font-style: italic } /* Comment */
.k { color: #00F } /* Keyword */
.ch { color: #F00; font-style: italic } /* Comment.Hashbang */
.cm { color: #F00; font-style: italic } /* Comment.Multiline */
.cp { color: #F00; font-style: italic } /* Comment.Preproc */
.cpf { color: #F00; font-style: italic } /* Comment.PreprocFile */
.c1 { color: #F00; font-style: italic } /* Comment.Single */
.cs { color: #F00; font-style: italic } /* Comment.Special */
.kc { color: #00F } /* Keyword.Constant */
.kd { color: #00F } /* Keyword.Declaration */
.kn { color: #00F } /* Keyword.Namespace */
.kp { color: #00F } /* Keyword.Pseudo */
.kr { color: #00F } /* Keyword.Reserved */
.kt { color: #00F } /* Keyword.Type */
.s { color: #009C00 } /* Literal.String */
.nc { color: #007575 } /* Name.Class */
.nd { color: #CC00A3 } /* Name.Decorator */
.nf { color: #C34E00 } /* Name.Function */
.sa { color: #009C00 } /* Literal.String.Affix */
.sb { color: #009C00 } /* Literal.String.Backtick */
.sc { color: #009C00 } /* Literal.String.Char */
.dl { color: #009C00 } /* Literal.String.Delimiter */
.sd { color: #009C00 } /* Literal.String.Doc */
.s2 { color: #009C00 } /* Literal.String.Double */
.se { color: #009C00 } /* Literal.String.Escape */
.sh { color: #009C00 } /* Literal.String.Heredoc */
.si { color: #009C00 } /* Literal.String.Interpol */
.sx { color: #009C00 } /* Literal.String.Other */
.sr { color: #009C00 } /* Literal.String.Regex */
.s1 { color: #009C00 } /* Literal.String.Single */
.ss { color: #009C00 } /* Literal.String.Symbol */
.fm { color: #C34E00 } /* Name.Function.Magic */
