pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.hll { background-color: #ffffcc }
.c { color: #09F; font-style: italic } /* Comment */
.err { color: #A00; background-color: #FAA } /* Error */
.k { color: #069; font-weight: bold } /* Keyword */
.o { color: #555 } /* Operator */
.ch { color: #09F; font-style: italic } /* Comment.Hashbang */
.cm { color: #09F; font-style: italic } /* Comment.Multiline */
.cp { color: #099 } /* Comment.Preproc */
.cpf { color: #09F; font-style: italic } /* Comment.PreprocFile */
.c1 { color: #09F; font-style: italic } /* Comment.Single */
.cs { color: #09F; font-weight: bold; font-style: italic } /* Comment.Special */
.gd { background-color: #FCC; border: 1px solid #C00 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.ges { font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.gr { color: #F00 } /* Generic.Error */
.gh { color: #030; font-weight: bold } /* Generic.Heading */
.gi { background-color: #CFC; border: 1px solid #0C0 } /* Generic.Inserted */
.go { color: #AAA } /* Generic.Output */
.gp { color: #009; font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #030; font-weight: bold } /* Generic.Subheading */
.gt { color: #9C6 } /* Generic.Traceback */
.kc { color: #069; font-weight: bold } /* Keyword.Constant */
.kd { color: #069; font-weight: bold } /* Keyword.Declaration */
.kn { color: #069; font-weight: bold } /* Keyword.Namespace */
.kp { color: #069 } /* Keyword.Pseudo */
.kr { color: #069; font-weight: bold } /* Keyword.Reserved */
.kt { color: #078; font-weight: bold } /* Keyword.Type */
.m { color: #F60 } /* Literal.Number */
.s { color: #C30 } /* Literal.String */
.na { color: #309 } /* Name.Attribute */
.nb { color: #366 } /* Name.Builtin */
.nc { color: #0A8; font-weight: bold } /* Name.Class */
.no { color: #360 } /* Name.Constant */
.nd { color: #99F } /* Name.Decorator */
.ni { color: #999; font-weight: bold } /* Name.Entity */
.ne { color: #C00; font-weight: bold } /* Name.Exception */
.nf { color: #C0F } /* Name.Function */
.nl { color: #99F } /* Name.Label */
.nn { color: #0CF; font-weight: bold } /* Name.Namespace */
.nt { color: #309; font-weight: bold } /* Name.Tag */
.nv { color: #033 } /* Name.Variable */
.ow { color: #000; font-weight: bold } /* Operator.Word */
.w { color: #BBB } /* Text.Whitespace */
.mb { color: #F60 } /* Literal.Number.Bin */
.mf { color: #F60 } /* Literal.Number.Float */
.mh { color: #F60 } /* Literal.Number.Hex */
.mi { color: #F60 } /* Literal.Number.Integer */
.mo { color: #F60 } /* Literal.Number.Oct */
.sa { color: #C30 } /* Literal.String.Affix */
.sb { color: #C30 } /* Literal.String.Backtick */
.sc { color: #C30 } /* Literal.String.Char */
.dl { color: #C30 } /* Literal.String.Delimiter */
.sd { color: #C30; font-style: italic } /* Literal.String.Doc */
.s2 { color: #C30 } /* Literal.String.Double */
.se { color: #C30; font-weight: bold } /* Literal.String.Escape */
.sh { color: #C30 } /* Literal.String.Heredoc */
.si { color: #A00 } /* Literal.String.Interpol */
.sx { color: #C30 } /* Literal.String.Other */
.sr { color: #3AA } /* Literal.String.Regex */
.s1 { color: #C30 } /* Literal.String.Single */
.ss { color: #FC3 } /* Literal.String.Symbol */
.bp { color: #366 } /* Name.Builtin.Pseudo */
.fm { color: #C0F } /* Name.Function.Magic */
.vc { color: #033 } /* Name.Variable.Class */
.vg { color: #033 } /* Name.Variable.Global */
.vi { color: #033 } /* Name.Variable.Instance */
.vm { color: #033 } /* Name.Variable.Magic */
.il { color: #F60 } /* Literal.Number.Integer.Long */
