pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.hll { background-color: #ffffcc }
.c { color: #0080FF; font-style: italic } /* Comment */
.err { color: #FFF; background-color: #C00 } /* Error */
.k { color: #2C5DCD; font-weight: bold } /* Keyword */
.o { color: #2C5DCD } /* Operator */
.ch { color: #0080FF; font-style: italic } /* Comment.Hashbang */
.cm { color: #0080FF; font-style: italic } /* Comment.Multiline */
.cp { color: #0080FF } /* Comment.Preproc */
.cpf { color: #0080FF; font-style: italic } /* Comment.PreprocFile */
.c1 { color: #0080FF; font-style: italic } /* Comment.Single */
.cs { color: #0080FF; font-weight: bold; font-style: italic } /* Comment.Special */
.gd { background-color: #FCC; border: 1px solid #C5060B } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.ges { font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.gr { color: #F00 } /* Generic.Error */
.gh { color: #2C5DCD; font-weight: bold } /* Generic.Heading */
.gi { background-color: #CFC; border: 1px solid #0C0 } /* Generic.Inserted */
.go { color: #AAA } /* Generic.Output */
.gp { color: #2C5DCD; font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #2C5DCD; font-weight: bold } /* Generic.Subheading */
.gt { color: #C5060B } /* Generic.Traceback */
.kc { color: #2C5DCD; font-weight: bold } /* Keyword.Constant */
.kd { color: #2C5DCD; font-weight: bold } /* Keyword.Declaration */
.kn { color: #2C5DCD; font-weight: bold } /* Keyword.Namespace */
.kp { color: #2C5DCD } /* Keyword.Pseudo */
.kr { color: #2C5DCD; font-weight: bold } /* Keyword.Reserved */
.kt { color: #5918BB; font-weight: bold } /* Keyword.Type */
.m { color: #5918BB; font-weight: bold } /* Literal.Number */
.s { color: #0C6 } /* Literal.String */
.na { color: #2C5DCD; font-style: italic } /* Name.Attribute */
.nb { color: #5918BB; font-weight: bold } /* Name.Builtin */
.nc { text-decoration: underline } /* Name.Class */
.no { color: #318495 } /* Name.Constant */
.nd { color: #FF8000; font-weight: bold } /* Name.Decorator */
.ni { color: #5918BB; font-weight: bold } /* Name.Entity */
.ne { color: #5918BB; font-weight: bold } /* Name.Exception */
.nf { color: #FF8000; font-weight: bold } /* Name.Function */
.nt { color: #2C5DCD; font-weight: bold } /* Name.Tag */
.ow { color: #2C5DCD; font-weight: bold } /* Operator.Word */
.w { color: #CBCBCB } /* Text.Whitespace */
.mb { color: #5918BB; font-weight: bold } /* Literal.Number.Bin */
.mf { color: #5918BB; font-weight: bold } /* Literal.Number.Float */
.mh { color: #5918BB; font-weight: bold } /* Literal.Number.Hex */
.mi { color: #5918BB; font-weight: bold } /* Literal.Number.Integer */
.mo { color: #5918BB; font-weight: bold } /* Literal.Number.Oct */
.sa { color: #0C6 } /* Literal.String.Affix */
.sb { color: #0C6 } /* Literal.String.Backtick */
.sc { color: #0C6 } /* Literal.String.Char */
.dl { color: #0C6 } /* Literal.String.Delimiter */
.sd { color: #0C6; font-style: italic } /* Literal.String.Doc */
.s2 { color: #0C6 } /* Literal.String.Double */
.se { color: #C5060B; font-weight: bold } /* Literal.String.Escape */
.sh { color: #0C6 } /* Literal.String.Heredoc */
.si { color: #0C6 } /* Literal.String.Interpol */
.sx { color: #318495 } /* Literal.String.Other */
.sr { color: #0C6 } /* Literal.String.Regex */
.s1 { color: #0C6 } /* Literal.String.Single */
.ss { color: #C5060B; font-weight: bold } /* Literal.String.Symbol */
.bp { color: #5918BB; font-weight: bold } /* Name.Builtin.Pseudo */
.fm { color: #FF8000; font-weight: bold } /* Name.Function.Magic */
.il { color: #5918BB; font-weight: bold } /* Literal.Number.Integer.Long */
